.vscode

*.py[cod]
*$py.class

dist/
sdist/
lib/
lib64/
*.egg
*.egg-info

/__pycache__/
*.pyc
.idea
/.idea/
/*venv/
/config*.yaml
.DS_Store
.python-version
/tmp/
volumes/
*.key
*.pem
/env.sh
env.txt
*.rdb
.env
*cache*
app-pgdata/
*.mypy*/
.mypy_cache/
*-pgdata/
generated/